<h1>Restaurant Index</h1>
<% @restaurants.each do |restaurant| %>
  <p><%= restaurant.name%> <%= link_to "Restaurant Details", restaurant_path(restaurant.id) %></p>
<% end %>
<%= link_to "Create new restaurant", new_restaurant_path %>
